.App {
  text-align: center;
}

.star{
  margin: 10px;
  font-size: 70px;

}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.on{
  color: black;

}
.off{
  color: lightgray;

}

