.App {
  text-align: center;
}

.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  background-color: purple;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.history{
  width: 300px;
  height: 300px;
  border: 2px solid purple;
  margin: 100px auto;
  overflow-y: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  font-size: 20px;
}