.show-offer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-btn{
  height: 60px;
  width: 150px;
  border: none;
  outline: none;
  background-color: purple;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.modal{
  background: radial-gradient(white, rgba(0,0,0,0.5) 50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 1;
}

.modal-content {
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding: 16px;
  position: relative;
}

.close-btn {
  position: absolute;
  background-color: pink;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.content{
  margin-top: 40px;
  width: 300px;
  height: 200px;
  font-size: 20px;
}

.accept-btn{
  height: 40px;
  border: none;
  outline: none;
  background-color: purple;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}
.offer-claimed{
  font-size: 50px;
}